<!DOCTYPE html>
<html>
<head>
    <title>Abbey Road Stream</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Hide any scroll bars */
        }
        img {
            width: 100vw; /* Viewport Width: Makes the image full width */
            height: auto; /* Maintain aspect ratio */
            position: absolute; /* Position absolutely will take it out of normal flow */
            bottom: 0; /* Align to the bottom of the viewport */
        }
    </style>
</head>
<body>
    <div id="video-container">
        <img src="/stream" />
    </div>
</body>
</html>

